{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@Brown298ReportBuilderBundle/Resources/public/js/base.js'
        '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}