{% extends 'Brown298ReportBuilderBundle::base.html.twig' %}

{% block styles %}
    {% include "Brown298ReportBuilderBundle::Assets/build.html.twig" %}
{% endblock %}

{% block content %}
    <div class="step-nav">
        <strong>Steps:</strong> {{ get_step_nav() }}
    </div>

    <h2>
        {% if report.name %}
            Edit Report "{{ report.name }}": {{ step.label }}
        {% else %}
            Create a Report: {{ step.label }}
        {% endif %}
    </h2>

    {% block form %}
        <form novalidate="novalidate" class="form-horizontal report-build"
              action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>

            {% block form_fields %}
                {{ form_widget(form) }}
            {% endblock %}

            <div class='form-actions'>
                <div class="inner">
                    {% block buttons %}
                        <a href="{{ path('reports_index') }}" class="btn">
                            {% block cancel_button_text %}
                                Cancel
                            {% endblock %}
                        </a>
                        <button class="btn" type="submit">
                            {% block save_button_text %}
                                Save
                            {% endblock %}
                        </button>
                        {% if report.isFinished and not report.published %}
                            <button class="btn view" type="submit">
                                {% block view_button_text %}
                                    Save &amp; View
                                {% endblock %}
                            </button>
                        {% endif %}
                        <button class="btn btn-primary continue" type="submit">
                            {% block continue_button_text %}
                                Save &amp; Continue &raquo;
                            {% endblock %}
                        </button>
                    {% endblock %}
                </div>
            </div>
        </form>
    {% endblock %}


{% endblock %}