@import "params.less";
@import "mixins.less";

.step-nav {
  line-height: 36px;
  .separator {
    color: fadeout(@grayDark, 60%);
    font-size: @fontsize * 1.2;
    margin-left: 8px;
  }
  .piece {
    margin-left: 8px;
  }
  strong {
    margin-right: 3px;
  }
  .piece.inaccessible {
    .washed-out
  }
  .current {
    font-weight: 700;
  }
}
.js .step-nav {
  display: block !important;
}

form.report-build {
  div.control-group {
    &.control-group-alias {
      label {
        float:left;
      }
    }
  }
}

.report-build {
  .build-interface {
    .clearfix();
    .scroll {
      max-height: 500px;
      width: 100%;
      overflow: auto;
    }
    .list-controls {
      float: right;
      font-size: @fontsize * 0.9;
      line-height: 28px;
      .control {
        margin-left: 5px;
      }
    }
    .list-pane {
      h3 {
        margin-bottom: 12px;
      }
      .empty {
        .washed-out
      }
      .items {
        margin-left: 0;
        @li-height: 23px;

        list-style: none;
        > li {
          min-height: @li-height;
          position: relative;
          .clearfix();
          margin-bottom: 10px;
          .control-group {
            display: none;
          }
          .item-label {
            position: absolute;
            top: 0;
            left: 13px;
            height: @li-height;
            line-height: @li-height;
            white-space: nowrap;
            .prefix {
              .washed-out
            }
          }
          .move {
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: @li-height;
            background: url(/bundles/brown298reportbuilder/images/drag-handle.png) repeat-y;
            cursor: row-resize;
          }
          .remove {
            position: absolute;
            top: 0;
            right: 3px;
            width: 18px;
            height: @li-height;
            cursor: pointer;
          }
        }
        li:hover {
          background-color: #fff;
          .remove {
            background: url(/bundles/brown298reportbuilder/images/delete.png) no-repeat center center;
          }
        }
      }
      .items.reset-hovering li {
        .remove {
          background: url(/bundles/brown298reportbuilder/images/delete.png) no-repeat center center;
        }
      }
      .buttons {
        margin-top: 5px;
        a {
          margin-right: 5px;
        }
      }
    }
    .tree-pane {
      h3 {
        margin-bottom: 4px;
      }
      .tree {
        ul {
          list-style: none;
          margin: 0;
          li {
            label {
              .clearfix();
              line-height: 16px;
              padding-top: 5px;
              margin: 0 0 5px;
              cursor: pointer;
              span.control {
                float: left;
                width: 22px;
                height: 18px;
                input {
                  margin: 2px 0 0;
                  float: left;
                }
              }
              span.prop-label {
                float: left;
              }
            }
            .group {
              margin-left: 22px;
            }
          }
          li.parent > label > span.control {
            background: url(/bundles/brown298reportbuilder/images/collapsed.png) no-repeat;
            background-position: 0 center;
          }
          li.parent.expanded > label > span.control {
            background-image: url(/bundles/brown298reportbuilder/images/expanded.png);
          }
        }
      }
    }
  }
  .build-interface.fields-interface {
    .list-pane {
      width: 48%;
      margin-right: 4%;
      float: left;
    }
    .tree-pane {
      width: 48%;
      float: left;
    }
  }
  .build-interface.filter-interface {
    .list-pane {
      width: 28%;
      margin-right: 4%;
      float: left;
      .items {
        > li {
          position: relative;
          min-height: 56px;
          .loading {
            position: absolute;
            top: 40px;
            left: 0;
            width: 33px;
            height: 5px;
            background: url(/bundles/brown298reportbuilder/images/loading.gif) no-repeat;
          }
          .form {
            margin-top: 28px;
            margin-left: 0;
            float: left;
            clear: left;
            select.filter-type {
              float: left;
              max-width: 118px;
            }
            .filter-type-forms {
              float: left;
              margin-left: 3px;
              .filter-type-form {
                display: none;
                float: left;
                input.value, input.second_value {
                  float: left;
                  width: 100px;
                  margin-left: 3px;
                }
              }
              .filter-type-form.between_dates,
              .filter-type-form.not_between_dates,
              .filter-type-form.between_datetimes,
              .filter-type-form.not_between_datetimes {
                input.value, input.second_value {
                  width: 63px;
                }
              }
            }
          }
          .errors {
            clear: left;
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }
    .tree-pane {
      width: 28%;
      margin-right: 4%;
      float: left;
    }
    .result-pane {
      width: 68%;
      float: left;
    }
  }
  .build-interface.order-interface {
    .list-pane {
      width: 48%;
      margin-right: 4%;
      float: left;
      .items {
        > li {
          .ascending {
            margin-top: 28px;
            margin-left: 0;
            float: left;
            clear: left;
          }
        }
      }
    }
    .tree-pane {
      width: 48%;
      float: left;
    }
  }
  .form-actions {
    padding-left: 0;
    .inner {
      button, a {
        float: left;
        margin-left: 5px;
      }
    }
  }
}
