.report-table.with-parameter-form {
  margin-right: 220px;
}
.parameter-form {
  width: 190px;
  position: absolute;
  right: 10px;
  padding: 0 8px 8px;
  background-color: #fff;
  .control-group {
    padding-bottom: 4px;
    select {
      width: 185px;
    }
  }
  .section {
    margin-bottom: 8px;
  }
  div.btn-group {
    display: inline-block;
  }
}