{% javascripts
    '@Brown298ReportBuilderBundle/Resources/public/js/tree.js'
    '@Brown298ReportBuilderBundle/Resources/public/js/tree/group.js'
    '@Brown298ReportBuilderBundle/Resources/public/js/tree/field.js'
    '@Brown298ReportBuilderBundle/Resources/public/js/tree/checkbox.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}