<select class="filter-type">
    <option></option>
    {% for filterType in filterTypes %}
        <option value="{{ filterType.getKey }}">
            {{ filterType.getOptionLabel }}
        </option>
    {% endfor %}
</select>

<div class="filter-type-forms">
    {% for filterType in filterTypes %}
        {% set foundChoice = false %}
        <div class="filter-type-form {{ filterType.getKey }} flash" data-key="{{ filterType.getKey }}">
            {% include filterType.getFormTemplate with {} %}
            <div class="runtime-filter-config">
                <select class="runtime-filter-types">
                    <option></option>
                    {% for filterType in runtimeFilters %}
                        {% if filterType.getKey() == 'Choice' %}{% set foundChoice = true %}{% endif %}
                        <option value="{{ filterType.getKey }}">
                            {{ filterType.getOptionLabel }}
                        </option>
                    {% endfor %}
                </select>
                {% if foundChoice %}
                    <input class="runtime-filter-values" />
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
